<!DOCTYPE html>
<html>
<head>
<title>View image</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>
{%for item in lists%}
Filename: {{item.file_name}}<br>
<img src={{ item.image }} style="width=508px;height:328px;"></img><br>
Comments:{{item.com}}<br><br>
{% endfor %}
<br>
<br>
<form action="/delete" method="post">
Do you want to delete images?
Select: <select name="images">
{%for item in lists%}
  <option value={{item.file_name}}>{{item.file_name}}</option>
{% endfor %}
</select>
<input type="submit" name="Submit" value ="delete">
</form>
</body>
</html>
