<!DOCTYPE html>
<html>
<head>
	<title>googleappengine</title>
	<h1>SARAOGI CSE 6331, Cloud Computing  10:30</hi>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	
          
          <form action="/newuser" method="post">

			Name:<br>
			<input type="text" name="username"><br>
			Password:<br>
			<input type="password" name="password"><br>	
            
     		 <button class="button button-block"/>new user</button>
         
          </form>
		  <form action="/login" method="post">
		  	Name:<br>
			<input type="text" name="user"><br>
			Password:<br>
			<input type="password" name="pass"><br>	
		  
		  <button class="button button-block"/>login</button>
			</form>
			
         <form action="/groups" method="post">
		  	Enter the group name:<br>
			<input type="text" name="user"><br>
		  
		  
			</form> 
       
</body>
</html>